/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body{
    background-color: #F0F8FF;
}

.devise-form{
    margin-left: 110px;
}

.show-page{
    margin-left: 100px;
}

.header{
    position: fixed;
    height: 35px;
    top: 0;
    width: 100%;
    z-index: 100;
    background-color: black;
    color: white;
}

.body_yield{
    margin-top: 100px;
}

/*.link_in_header a:link{
    color: #ffffff;
    text-decoration: none;
}

.link_in_header a:visited{
    color: white;
}

.link_in_header a:hover{
    color: red;
}

.header_span{
    float: right;
    padding-right: 50px;
}

*/


.center_index_page{
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
}



td{
   text-align: left;
}

td.title{
    padding-left: 20px;
}

td.created_at{
  text-align: center;
}

th.created_at{
  width: 150px;
    text-align: center;
}

.listing_items {
    margin-left:400px;
    font-size: 32px;
    font-weight: bold;
}


.new_item_link {
    float: right;
}

.field{
    margin-bottom: 20px;
}

.mce-panel{
    width: 400px !important;
}

.sign_in_or_sign_up{
    float: right;
}